<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> Login Page </h1>

<form action="/photographer/home" method="POST">
  Username: <input type="text" name="username" placeholder="username"><br>
  Password: <input type="text" name="password" placeholder="password"><br>
  <button type="submit">Login</buton>
  </form>

  </body>
</html>
