<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
<header>
<h1>Photos, Photos, Photos!!</h1>
<h2>A Place for Collabs</h2>


<img src="https://images.vexels.com/media/users/3/147753/isolated/preview/1efa4e1e2defe8d57c49039a1a58c49f-digital-camera-sketch-icon-by-vexels.png">
<section class="btnCentered">
  <form action="/photo/new" method="get">
   <button type="submit">New Post</button>
   </form>

   <form action="/photographer/home" method="get">
     <button type="submit">All Contributors</button>
     </form>

     <form action="/photo/show" method="get">
  <button type="submit">All Submissions</button>

        </section>
        </header>
        <main>

  </body>
</html>
