<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
<header>
<h1>Create New Post</h1>
<section>



  <form action="/photo/show" method="post">
  <input type="text" name="name" placeholder="user"/><br/>
  <input type="text" name="name" placeholder="url"/><br/>
  <textarea name="body" name="about" placeholder="about the photo"></textarea><br/>
  <input type="submit" value="Publish Article"/>
</form>

        </section>
        </header>
        <main>

  </body>
</html>
