<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body class="show">

    <h3>All Photos</h3>


<form>

Name: <input type="text" name="url" value="<%=photo.url%>"/>
  <form method = "get" action="/photo/home">
    <input type="submit" value="HOME" />
</form>

  </body>
</html>
