<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body class="show">

  <h3>Posted By... <%=photographer.name%></h3>

  <h4 class><img class="photoLarge" src="<%=photo.url%>" ></h4>

  </form>
  <br>


  <form method = "POST" action="/photo/home">
    <input type="submit" value="HOME" />


  </body>
</html>
