<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      </head>

    <header>
      <h1>Edit <%=photographer.username%>s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/photographer/home">Home</a>
          </li>
        </ul>
      </nav>
    </header>

<main>
<h2>Photographs</h2>
<form action="/photographer/<%=photographer.id%>?_method=PUT" method=POST">

</main>


  <body>
    <h1>EDIT PAGE</h1>
  </body>
</html>
