<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
      </head>

    <header>
      <h1>Edit <%=photographer.username%>s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/photographer/home">Home</a>
          </li>
        </ul>
      </nav>
    </header>

<main>
<h2>Photographs</h2>
  <form action="/photographer/<%=photographer.id%>?_method=PUT" method="POST">
    <input type="text" name="username" value="<%=photographer.username%>" >
    <input type="text" name="password" value="<%=photographer.password%>" >
    <button type="submit"> Update User</button>
  </form>
</main>


  <body>
  </body>
</html>
