<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <header>
    <h1>Welcome to Photo Drop!</h1>

      <a href="/photographer/home">Home</a>

  </header>

  <body>

    <main>
      <form action="/photographer/home/" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password">
        <button type="submit">Add Photographer</button>

  </li>

  </ul>
</form>
</main>

  </body>
</html>
