<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
<header>
<h2><%=photographer.username%>'s Images </h2>
</header>
<br>
<br>



<section>
<a href="/photographer/<%=photographer.id%>/edit">Edit</a>
</section>


<section>

      <form method= "POST" action="/photographer/<%=photographer.id%>/?_method=DELETE">
        <input type="submit" value="DELETE"/>
      </form>
    </section>


  </body>
</html>
