<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
<header>
<h2><%=photographer.photographer%>'s Images </h2>
</header>
<br>
<br>



<!-- <section>
<a href="/photographer/<%=photographer.id%>/edit">Edit</a>
</section> -->

<section>
      <form method= "GET" action="/photographer/<%=photographer.id%>/edit">
        <button type="submit">Edit</button>
      </form>
    </section>

<section>
      <form method= "POST" action="/photographer/<%=photographer.id%>/?_method=DELETE">
        <button type="submit">Delete</button>
      </form>
    </section>

<section>
  <form action="/photographer/home" method="get">
   <button type="submit">Home</button>
   </form>
</section>



  </body>
</html>
